.info {
  flex-grow: 1;
}

.info-div {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.type-div {
  display: flex;
  gap: 0.5em;
}

.type-card {
    font-size:small ;
    width: 80px;
    height: 28px;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.pokemon-image {
    position: absolute;
    top: -40px;
    right: 20px;
    z-index: 2;

}

